<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426096482148-1llb9fvoatbu5qt4hp19i65pbeho3503.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426096482148-1llb9fvoatbu5qt4hp19i65pbeho3503</string>
	<key>API_KEY</key>
	<string>AIzaSyDmr4IgnskfloRilPrfoV4fWg62Km47-_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>426096482148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uniya63.uniYa</string>
	<key>PROJECT_ID</key>
	<string>uni-ya-server</string>
	<key>STORAGE_BUCKET</key>
	<string>uni-ya-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426096482148:ios:2f20c4e2a9e6e2d87acc71</string>
</dict>
</plist>